[submodule "vendor/fa"]
	path = vendor/fa
  url = https://github.com/firstandthird/fa
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
  url = https://github.com/gmarik/Vundle.vim
[submodule "vendor/git-extras"]
	path = vendor/git-extras
  url = https://github.com/jgallen23/git-extras.git
[submodule "vendor/nvm"]
	path = vendor/nvm
	url = https://github.com/creationix/nvm.git
[submodule "vendor/bash-git-prompt"]
	path = vendor/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "vendor/bashmarks"]
	path = vendor/bashmarks
  url = https://github.com/huyng/bashmarks.git
