[submodule "bin/z"]
	path = bin/z
	url = git://github.com/rupa/z.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "git-extras"]
	path = git-extras
	url = git://github.com/jgallen23/git-extras.git
[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/creationix/nvm.git
