#Console Log
snippet cl
	console.log(${1:Message});
#debugger
snippet deb
	debugger;

snippet base
	<html>
		<head>
			<title></title>
		</head>
		<body>
		</body>
	</html>
snippet href
	<a href="${1:href}">${2:text}</a>
snippet li
	<li>${1:content}</li>
snippet d
	<div>
		${1}
	</div>
